<% content_for :head do %>
<base href="/">
<link href="styles.bundle.css" rel="stylesheet"/>
<% end %>

  <body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="inline.bundle.js"></script>
    <script type="text/javascript" src="polyfills.bundle.js"></script>
    <script type="text/javascript" src="main.bundle.js"></script> 
  </body>