<section class="task-view-container" *ngIf="task" [@taskView]>
  <section 
    class="task-info"
    *ngIf="task">

    <div class="row">
      <span class="info-label">Title</span>
      <input
        class="input"
        [(ngModel)]="task.title"
        (blur)="updateTask()">
    </div>

    <div class="row">
      <span class="info-label">Description</span>
      <input
        class="input"
        [(ngModel)]="task.description"
        placeholder="Add a description"
        (blur)="updateTask()">
    </div>

    <div class="row">
      <span class="info-label">Created At</span>
      <span>{{ task.createdAt | amCalendar }}</span>
    </div>

    <div class="row">
      <span class="info-label">Completed</span>
      <span>{{ task.completed ? (task.updatedAt | amCalendar) : 'Not yet' }}</span>
    </div>
    
  </section>
</section>
