@import '../../../../variables.scss';


.task-view-container {
    display: flex;
    flex-direction: column;
}

.task-info {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.row {
    display: flex;
    padding: 10px 0;
}

.info-label {
    margin-right: 20px;
    color: $grey;
    min-width: 80px;
}
