<section class="auth-container">
  <img
    src="../../../assets/check.png"
    class="check" />

    <div class="auth-error" *ngIf="(authState | async).error">
      {{ (authState | async).error }}
    </div>

  <form
    class="auth-form"
    (ngSubmit)="onSubmit(form)"
    #form="ngForm">

    <input
      class="auth-input email"
      placeholder="Email"
      required
      ngModel
      name="email"
      email>

    <input
      class="auth-input password"
      type="password"
      placeholder="Password"
      ngModel
      name="password"
      required>

    <button
      [ngClass]="{ 'auth-button': form.valid, 'auth-button-disabled': form.invalid }"
      [disabled]="form.invalid">
      {{ page }}
    </button>

    <div class="forgot-pw" *ngIf="page === 'Log in'">
      Forgot your password?
    </div>

    <div class="terms" *ngIf="page === 'Sign up'">
      By signing up for Next, you agree to the
      <a class="service" href="https://image.ibb.co/eR49z7/haveagreatday.jpg">Terms of Service</a>
    </div>

  </form>

</section>
