@import '../../../variables.scss';

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid $blue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    padding-bottom: 10px;
}

.blue {
    margin-right: 5px;
    color: $blue;
    padding: 2px 4px;
    transform: rotate(0deg);
    transition: linear 200ms;
    &:hover {
        cursor: pointer;    
        background: #d7e4f1;
    }
}

.caret-down {
    font-size: 14px;
}

.list-sort {
    position: relative;   
    border: 1px solid #7ab2e0;
    border-radius: 5px;
    color: $blue;
    background: transparent;
    font-weight: 800;
    transition: background-color 200ms;
    &:hover {
        background: $blue;
        color: white;
        transition: background-color 200ms;
    } 
    &:hover + .sort-options {
        display: inline-block;
    }
}

.sort-options {
    display: none;
    position: absolute;
    right: 0;
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.025);
    &:hover {
        display: inline-block;
    }
}


.sort-item {
    margin: 5px 0;    
    padding: 5px;
    transition: background-color 200ms;
    font-size: 12px;
    white-space: nowrap;
    &:hover {
        cursor: pointer;
        background: #d7e4f1;
        transition: background-color 200ms;        
    }
}

.relative {
    position: relative;
}

.closed {
    transform: rotate(-90deg);
    transition: 200ms linear;
}

.add-list {
    border: 1px solid #7ab2e0;
    border-radius: 5px;
    color: $blue;
    background: transparent;
    font-weight: 800;
    transition: background-color 200ms;
    &:hover {
        background: $blue;
        color: white;
        transition: background-color 200ms;
    }
}

.edit-list {
    background: transparent;
    border: 1px solid #7ab2e0;    
    color: $blue;
    transition: background-color 200ms;    
    &:hover {
        background: $blue;
        color: white;
        transition: background-color 200ms;
    }   
}

.invisible {
    border: 1px solid transparent;    
    background: transparent;
    &:hover {
        cursor: default;
    }
    
}

.list-ul {
    background: $softblue;
    border-radius: 3px;
    
    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear; 
}

.list-toggle {
    transition: visibility 0.3s, opacity 0.3s linear;     
    visibility: hidden;
    opacity: 0;
}

.list-item {
    padding: 5px 5px;
    transition: background-color 200ms; 
    border-radius: 3px;   
    &:hover {
        cursor: pointer;
        transition: background-color 200ms;
        background: #d7e4f1;
    }
    &:focus {
        outline: none;
    }
}

.active {
    color: $darkblue;
}

.content-container {
    display: flex;
    width: 400px;
    height: 200px;
    background: white;    
    flex-direction: column;
    align-items: center;
    border: 1px solid $grey;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05);
    position: relative;
    z-index: 5;
}

.modal-header {
    display: flex;
    margin: 20px 0;
    justify-content: space-between;
    width: 85%;
    & h1 {
        font-size: 20px;
    }
}

.close-modal {
    color: $grey;
    transition: color 200ms;
    font-size: 20px;
    &:hover {
        cursor: pointer;
        color: $darkgrey;
        transition: color 200ms;        
    }
}

.add-list-form {
    width: 85%;
}

.form-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    font-size: 12px;
    border: 1px solid $grey;
    &:focus {
        border: 1px solid cornflowerblue;
    }
}

.list-buttons {
    display: flex;
    & button {
        margin: 0 2px;
    }
}

.button-wrapper {
    display: flex;
}

.add-button {
    background: $blue;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    transition: background-color 200ms;    
    &:hover {
        transition: background-color 200ms;        
        background: $darkblue;
    }
}

.add-button-disabled {
    background: cornflowerblue;
    color: white;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    &:hover {
        cursor: default;
    }
}

.cancel-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid $grey;    
    font-size: 16px;
    transition: color 200ms;
    color: $darkgrey;
    &:hover {
        transition: color 200ms;        
        color: $blue;
    }
}

