<section class="list-container">
  <modal-component *ngIf="(modalState | async).isOpen" [mode]="mode">
      <section class="modal-screen">
        <main class="content-container">

          <header class="modal-header">
            <h1>{{ mode }} list</h1>
            <span 
              class="close-modal"
              (click)="closeModal()">&times;</span>
          </header>
  
          <form 
            (ngSubmit)="onSubmit(form)"
            #form="ngForm"
            class="add-list-form">
            
            <label>Please enter a new list name:</label>

            <input 
              *ngIf="mode === 'Edit'"
              type="text"
              required
              [ngModel]="listName"
              name="title" 
              class="form-input"
              autofocus>

            <input 
              *ngIf="mode === 'Create'"
              type="text"
              required
              ngModel
              name="title" 
              class="form-input"
              autofocus>

              <div class="button-wrapper">
                <button 
                  [disabled]="form.invalid"
                  [ngClass]="{ 'add-button': form.valid, 'add-button-disabled': form.invalid }">
                  {{ mode }}
                </button>

                <button 
                  *ngIf="mode === 'Edit'"
                  class="add-button"
                  type="button"
                  (click)="deleteList()">
                  Delete List
              </button>
    
                <button 
                  class="cancel-button" 
                  type="button"
                  (click)="closeModal()">
                  Cancel
                </button>
              </div>
          </form>
        </main>
      </section>
  </modal-component>

    <header class="list-header">
      <div class="flex">
        <i 
          class="fa fa-caret-down blue"
          [ngClass]="{ 'closed': hidden }"
          (click)="closeLists()"></i>
        <h1>Lists</h1>
      </div>

      <div class="list-buttons">
        <button 
          class="add-list tooltip"
          (click)="createList()">
          +
          <span class="tooltip-text">Add list</span>        
        </button>
  
        <button
          class="tooltip"
          [ngClass]="{ 'edit-list': selectedId, 'invisible': !selectedId }"
          (click)="editList()"
          [disabled]="!selectedId">
          <i 
            class="fa fa-pencil"
            *ngIf="selectedId">
          </i>
          <span class="tooltip-text">Edit list</span>
        </button>

        <div class="relative">
          <button
            class="list-sort">
            <i class="fa fa-caret-down caret-down">
            </i>
          </button>
  
          <div class="sort-options">
            <div 
              class="sort-item"
              (click)="sortLists()">
              Sort Alphabetically
            </div>
          </div>

        </div>
      </div>
    </header>
  
    <ul 
      class="list-ul"
      [ngClass]="{ 'list-toggle': hidden }">
      <li
        class="list-item"
        *ngFor="let list of lists"
        [routerLink]="[list.id]"
        [ngClass]="{ active: selectedId === list.id }"
        (click)="selectList(list)">
        {{ list.title }} <br>
      </li> 
    </ul>
  
  </section>
  