@import '../../../../variables.scss';

.task-item-wrapper {
    border-bottom: 1px dotted;
    padding: 10px 10px 10px 15px;
    border-bottom-color: $darkblue;
    transition: background-color 200ms;
    display: flex;
    align-items: center;    
    width: 100%;
    box-sizing: border-box;
    &:hover {
        transition: background-color 200ms;        
        background: $softblue;
        cursor: pointer;
    }
    &:focus {
        outline: none;
    }
    position: relative;
}

.checkbox {
    margin-right: 10px;
    &:hover {
        cursor: pointer;
    }
}

.background {
    background: $softblue;
}

.white { 
    color: white;
}

.fa-ellipsis-v {
    color: $grey;
    font-size: 12px;
    align-self: center;
    position: absolute;
    left: 10px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.label {
    width: 100%;
    &:hover {
        cursor: pointer;
    }
}