<nav class="navbar">
  <img
    src="../../assets/logo.png"
    alt="logo"
    class="logo" />

  <main class="navbar-main">
    <a
      href="http://www.tomhansen.io"
      class="social-link">
      Portfolio
    </a>

    <a
      href="https://github.com/thansen29/next"
      class="social-link">
      Github
    </a>

    <a
      href="https://www.linkedin.com/in/thomas-hansen-1a0a51132/"
      class="social-link">
      LinkedIn
    </a>

    <button 
      class="navbar-signup">
      Sign up
    </button>

    <button
      class="navbar-signup">
      Log in
    </button>

  </main>
</nav>
