@import '../../variables.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid $lightgrey;
  box-shadow: 0 1px 2px rgba(0,0,0,0.025);
  background: white;
}

.logo {
  margin-left: 5%;
  &:hover {
    cursor: pointer;
  }
}

.navbar-main {
  position: relative;
  margin-right: 5%;
}

.navbar-items {
  display: flex;
}

.social-link {
  margin: 20px;
}

.link {
  color: $blue;
  transition: color 200ms;
  font-size: 16px;
  &:hover {
    color: $darkblue;
    transition: color 200ms;
  }
}

.navbar-signup {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background: $blue;
  color: white;
  transition: background-color 200ms;
  margin: 10px;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    background: $darkblue;
    transition: background-color 200ms;
  }
  &:hover .navbar-items {
    border: 1px solid black;
  }
}

.icon {
  display: none;
  color: $blue;
  font-size: 24px;
  transition: color 200ms;
}

@media screen and (max-width: 60em) {
  .navbar-items {
    display: none;
    padding-top: 20px;
    &:hover {
      display: inline-block;
    }
  }

  .icon {
    display: block;
    &:hover {
      cursor: pointer;
      color: $darkblue;
      transition: color 200ms;
    }
  }

  .navbar-main:hover {
    cursor: pointer;
    &:hover .navbar-items {
      display: inline-block;
      position: absolute;
      margin-top: 20px;
      left: -50px;
      padding: 10px;
      & .navbar-signup {
        background: $blue;
        color: white;
        font-size: 16px;
        white-space: nowrap;
        padding: 0;
        transition: color 200ms;
        margin-bottom: 20px;
        &:hover {
          transition: color 200ms;
          color: $lightgrey;
        }
      }
      & .link {
        color: white;
        transition: color 200ms;
        &:hover {
          transition: color 200ms;
          color: $lightgrey;
        }
      }
      & .nav-button {
        margin-left: 10px;
        margin-top: -12px;
      }

    }
  }
}
