@import '../../variables.scss';

.todos-container {
    height: 100%;
    background: $softblue;    
    display: flex;
}

.list-container {
    height: 100%;
    margin-top: 2%;
    margin-left: 5%;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
}

.task-container {
    width: 42%;
    // width: 100%;
    margin-top: 2%;
    margin-left: 2%;
    background:white;
    border-radius: 5px;    
}

.task-view-container {
    width: 42%;
    margin-top: 2%;
}