@import '../../variables.scss';

.todos-container {
    height: 100%;
    background: $blue;
    display: flex;
}

.list-container {
    height: 100%;
    margin-top: 2%;
    margin-left: 5%;
    width: 15%;
    background: $softblue;
}

.task-container {
    width: 42%;
    margin-top: 2%;
    margin-left: 5%;
    background: $softblue;    
}

.task-header {
    padding: 20px;
}

.task-view-container {
    width: 42%;
    margin-top: 2%;
    background: $softblue;
    border-left: 1px solid $darkblue;
}