@import '../../variables.scss';

.todos-container {
    height: 100%;
    // background: $blue;
    background: $softblue;    
    display: flex;
}

.list-container {
    height: 100%;
    margin-top: 2%;
    margin-left: 5%;
    width: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
    // background: $softblue;
}

.task-container {
    width: 42%;
    margin-top: 2%;
    margin-left: 2%;
    background:white;
    border-radius: 5px;    
}

.task-header {
    padding: 20px;
}

.task-view-container {
    width: 42%;
    margin-top: 2%;
    // background: $softblue;
    // border-left: 1px solid $darkblue;
}