<section class="todos-container">

  <aside class="list-container">
    <list-component [ngStyle]="{ 'width': '100%'}" ></list-component>
  </aside>

  <main 
    class="task-container"
    [ngClass]="{ 'med-width': currentRoute === '/lists', 'lg-width': currentRoute !== '/lists'}">

    <div class="hidden-details opaque" *ngIf="currentRoute === '/lists'">
      <div class="flex">
        <span>Welcome to Next!</span>
        <i 
          (click)="toggleHidden()" 
          class="fa fa-angle-down arrow"
          [ngClass]="{ 'open': !hidden }">
        </i>
      </div>

      <div class="hidden-pt2" *ngIf="!hidden" [@taskData]>
        <main class="task-data-wrapper">
            <div class="task-data">
              <span class="task-count">{{ taskCount }}</span>
              <span class="count-label">tasks</span>
            </div>
        
            <div class="task-data completed">
              <span>{{ completedCount }}</span>
              <span class="count-label">completed</span>
            </div>
          </main>
      </div>
    </div>
    
    <div class="task-content-wrapper" *ngIf="currentRoute === '/lists'">
      <header>
        <h2>Welcome List</h2>
        <div>Here's a list of tasks to get you started</div>
      </header>

      <div class="sample-item-wrapper">

        <ul 
          class="sample-list">
          <li class="sample-item">
            <input type="checkbox">
            <span>Create a list</span> 
          </li>
          <li class="sample-item">
            <input type="checkbox">
            <span>Create some tasks</span> 
          </li>
          <li class="sample-item">
            <input type="checkbox">
            <span>Complete some tasks!</span> 
          </li>
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                        
          <li class="sample-item-empty">hire me</li>                                                          
        </ul>
      </div>


    </div>
    
    <router-outlet></router-outlet>
  </main>

  <aside 
    class="task-view-container" 
    *ngIf="currentRoute === '/lists'"
    [ngClass]="{ opaque: currentRoute === '/lists' }">

      <header class="list-title">
          <span>Welcome to Next!</span>
      </header>
      
      <main class="task-data-wrapper">
        <div class="task-data">
          <span class="task-count">{{ taskCount }}</span>
          <span class="count-label">tasks</span>
        </div>
    
        <div class="task-data completed">
          <span>{{ completedCount }}</span>
          <span class="count-label">completed</span>
        </div>
      </main>

  </aside>

</section>