<section class="task-view-container" *ngIf="task" [@taskView]>
  <section 
    class="task-info"
    *ngIf="task">

    <div class="saved">
        <div 
          [ngClass]="{ visible: saved, invisible: !saved }">
          <span *ngIf="!error">Saved!</span>
          <span *ngIf="error" class="error">{{ error }}</span>
          
        </div>      
    </div>

    <div class="row">
      <span class="info-label">Title</span>
      <textarea
        (keydown)="keyPress($event)"
        rows="1"
        id="title"
        class="input"
        [(ngModel)]="task.title"
        (blur)="updateTask()">
        </textarea>
    </div>

    <div class="row">
      <span class="info-label">Description</span>
        <textarea
          (keydown)="keyPress($event)"
          class="input"
          id="description"
          [(ngModel)]="task.description"
          placeholder="Add a description"
          (blur)="updateTask()">
        </textarea>
    </div>

    <div class="row">
      <span class="info-label">Created At</span>
      <span>{{ task.createdAt | amCalendar }}</span>
    </div>

    <div class="row">
      <span class="info-label">Completed</span>
      <span>{{ task.completed ? (task.updatedAt | amCalendar) : 'Not yet' }}</span>
    </div>
    
  </section>
</section>
