@import '../../../variables.scss';

.all-tasks-container {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.main-tasks {
    width: 50%;
    height: 100%;
    border-right: 1px solid $darkgrey;
    border-top-right-radius: 5px;
    overflow: scroll;
}

.task-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted;
    border-bottom-color: $darkgrey;
}

.top-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.tabs {
    display: flex;
}

.tab {
    padding: 15px;
    border: 1px solid transparent;
    &:hover {
        cursor: pointer;
    }
}

.buttons {
    display: flex;
    margin-right: 5px;
    align-items: center;
  & .button {
        border: 1px solid $mediumgrey;
        margin: 0 5px;
        padding: 5px 20px;
        font-size: 20px;
        color: $darkgrey;
        transition: color 100ms;
        &:hover {
            transition: color 100ms;            
            color: black;
        }
  }
}

.check {
    font-size: 16px;
}

.delete-button {
    font-size: 20px;
}

.settings {
    border: 1px solid $mediumgrey;
    margin: 0 5px;
    padding: 5px 10px;
    font-size: 20px;
    color: $darkgrey;
    transition: color 100ms;
    &:hover {
        transition: color 100ms;            
        color: black;
    }
    & i {
        font-size: 16px;
    }
    & .caret {
        font-size: 14px;
    }
}

.dropdown-wrapper {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background: white;
    z-index: 10;
    right: 0;
    padding: 5px 0;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);

}

.dropdown-item {
    padding: 5px 10px;
    font-size: 12px;
    white-space: nowrap;
    transition: background-color 100ms;
    &:hover {
        cursor: pointer;
        background: #d7e4f1;
        transition: background-color 100ms;
        
    }
}


.active {
    color: $darkblue;
    border-top: 1px dotted;
    border-right: 1px dotted;
    border-left: 1px dotted;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
    border-top-color: $darkgrey;
    border-left-color: $darkgrey;
    border-right-color: $darkgrey;
    
    
}

.create-task-form {
    display: flex;
    flex-direction: column;
}

.task-input {
    padding: 5px;
    font-size: 12px;
    color: $grey;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $mediumgrey;
    border-radius: 3px;
    margin-right: 5px;
    &:focus {
        border: 1px solid cornflowerblue;
        color: $darkgrey;
    }
}

.row {
    display: flex;
    align-items: center;
    & span {
        color: $grey;
        transition: color 100ms;
        &:hover {
            transition: color 100ms;
            color: $darkgrey;
            cursor: pointer;
        }
    }
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    & textarea {
        padding: 5px;
        border: 1px solid $mediumgrey;
        border-radius: 3px;
        width: 50%;
        &:focus {
            border: 1px solid cornflowerblue;
        }
    }
}

.create-task-button {
    margin-top: 10px;
    padding: 10px;
    background: $blue;
    color: white;
    transition: background-color 200ms;
    border: none;
    font-size: 14px;
    &:hover {
        background: $darkblue;
        transition: background-color 200ms;        
    }
}

.create-task-button-disabled {
    align-self: flex-end;
    padding: 10px;
    background: cornflowerblue;
    color: white;
    border: none;   
    font-size: 14px;     
    &:hover {
        cursor: default;
    }
}

.task-view-parent {
    width: 50%;
    height: 100%;
    padding: 20px 30px;    
    border-top-left-radius: 5px;
}

.list-title {
    font-size: 18px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.close-task-view {
    font-size: 12px;
    color: $darkgrey;
    &:hover {
        cursor: pointer;
        color: $darkestgrey;
    }
}

.task-data-wrapper {
    display: flex;
}

.task-data {
    padding: 15px;
    background: $darksoftblue;
    border-radius: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.task-count {
    color: $darkblue;
    font-weight: 600;
    font-size: 20px;
}

.count-label {
    font-size: 14px;
}

.completed > span{
    opacity: .4;
}

.opaque {
    background: rgba(228, 238, 248, 0.7);
    transition: opacity 500ms;
}

.sample-item-empty {
    color: transparent;
    border-bottom: 1px dotted;
    padding: 10px 10px 10px 20px;
    border-bottom-color: $darkgrey;
    transition: background-color 200ms;
    display: flex;
    align-items: center;    
    width: 100%;
    box-sizing: border-box;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: default;
    }
    position: relative;
}


.task-view-parent-over {
    width: 80%;
    height: 100%;
    // padding: 20px 30px;    
    border-top-left-radius: 5px;
    position: absolute;
    display: none;
    background: white;
    z-index: 100;
}

.padding {
    padding: 20px 30px;
}

.close-task-view {
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    font-size: 12px;
    color: $darkgrey;
    align-items: center;
    transition: color 100ms;
    &:hover {
        cursor: pointer;
        transition: color 100ms;        
        color: $darkestgrey;
    }
    & i {
        margin-right: 5px;
    }
}

@media screen and (max-width: 60em) {
    .task-view-parent {
        display: none;
        background: rgb(236, 243, 250);
    }

    .task-view-parent-over {
        display: block;
    }

    .main-tasks {
        width: 100%;
    }

    .hidden-details {
        display: block;
    }
}

@media screen and (min-width: 60em) {
    .task-view-parent {
        display: block;
    }

    .main-tasks {
        width: 50%;
    }

    .hidden-details {
        display: none;
    }
}

.opaque {
    background: rgb(236, 243, 250);
}

