<section class="all-tasks-container">

  <main class="main-tasks">
    <header class="task-header">
        <div class="top-row">
          <div class="tabs">
            <div 
              class="tab"
              (click)="selectTab(0)"
              [ngClass]="{ active: selectedTab === 0 }">
              Not Completed
            </div>
  
            <div 
              class="tab"
              (click)="selectTab(1)"
              [ngClass]="{ active: selectedTab === 1 }">
              Completed
            </div>

          </div>

          <div class="buttons">
            <button class="tooltip">
              <i class="check fa fa-check"></i>
              <span class="tooltip-text">Complete</span>
            </button>

            <button class="tooltip delete-button" (click)="deleteTasks()">
              &times;
              <span class="tooltip-text">Delete</span>
            </button>
            
          </div>
        </div>
    
        <!-- TODO: why the fuck does the form/header change size by 10 px when typing in input -->
        <form 
          class="create-task-form"
          (ngSubmit)="onSubmit(form)"
          #form="ngForm">
    
          <div class="row">

            <input 
              type="text"
              class="task-input"
              placeholder="Add a task..."
              (focus)="focus()"
              ngModel
              name="title"
              required>

              <span 
                *ngIf="focused"
                (click)="unfocus()">&times;</span>
          </div>
            
          <!-- TODO: make this appearance slide down/up -->
          <div class="bottom-row" *ngIf="focused">
            <textarea 
              name="description" 
              ngModel
              placeholder="Description(optional)">
            </textarea>
    
            <button
              [ngClass]="{ 'create-task-button': !form.invalid, 'create-task-button-disabled': form.invalid }">
              Add Task
            </button>
    
          </div>
    
        </form>
    
    </header>
    
    <ul class="task-ul">
      <!-- clicking on a task duplictes the whole set ???? -->
      <ng-template [ngIf]="selectedTab === 0">
        <task-item
          *ngFor="let task of incompleteTasks"
          [task]="task"
          (checkedTask)="checkItem($event)">
        </task-item>
      </ng-template>

      <ng-template [ngIf]="selectedTab === 1">
        <task-item
          *ngFor="let task of completedTasks"
          [task]="task"
          [tab]="selectedTab"
          (checkedTask)="checkItem($event)">
        </task-item>

      </ng-template>
      </ul>
  
  </main>
  
  <aside class="task-view-parent">
      <header class="list-title">
          {{ listName }}
        </header>
      
        <main class="task-data-wrapper">
          <div class="task-data">
            <span class="task-count">{{ taskCount }}</span>
            <span class="count-label">tasks</span>
          </div>
      
          <div class="task-data completed">
            <span>{{ completedCount }}</span>
            <span class="count-label">completed</span>
          </div>
        </main>
        
    <router-outlet></router-outlet>
  
  </aside>
  
</section>