@import '../../../variables.scss';

.all-tasks-container {
    display: flex;
    height: 100%;
}

.main-tasks {
    width: 50%;
    height: 100%;
    border-right: 1px solid $blue;
}

.task-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px dotted;
    border-bottom-color: $darkgrey;
}

.top-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.tabs {
    display: flex;
}

.tab {
    padding: 15px;
    border: 1px solid transparent;
    &:hover {
        cursor: pointer;
    }
}

.buttons {
    display: flex;
    margin-right: 5px;
    align-items: center;
  & button {
        border: 1px solid $mediumgrey;
        margin: 0 5px;
        padding: 5px 20px;
        font-size: 20px;
        color: $darkgrey;
        transition: color 100ms;
        &:hover {
            transition: color 100ms;            
            color: black;
        }
  }
}

.check {
    font-size: 16px;
}

.delete-button {
    font-size: 20px;
}

.active {
    color: $darkblue;
    border-top: 1px dotted;
    border-right: 1px dotted;
    border-left: 1px dotted;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;    
    border-top-color: $darkgrey;
    border-left-color: $darkgrey;
    border-right-color: $darkgrey;
    
    
}

.create-task-form {
    display: flex;
    flex-direction: column;
}

.task-input {
    padding: 5px;
    font-size: 12px;
    color: $grey;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid $mediumgrey;
    border-radius: 3px;
    margin-right: 5px;
    &:focus {
        border: 1px solid cornflowerblue;
        color: $darkgrey;
    }
}

.row {
    display: flex;
    align-items: center;
    & span {
        color: $grey;
        transition: color 100ms;
        &:hover {
            transition: color 100ms;
            color: $darkgrey;
            cursor: pointer;
        }
    }
}

.bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    & textarea {
        padding: 5px;
        border: 1px solid $mediumgrey;
        border-radius: 3px;
        width: 50%;
        &:focus {
            border: 1px solid cornflowerblue;
        }
    }
}

.create-task-button {
    margin-top: 10px;
    padding: 10px;
    background: $blue;
    color: white;
    transition: background-color 200ms;
    border: none;
    font-size: 14px;
    &:hover {
        background: $darkblue;
        transition: background-color 200ms;        
    }
}

.create-task-button-disabled {
    align-self: flex-end;
    padding: 10px;
    background: cornflowerblue;
    color: white;
    border: none;   
    font-size: 14px;     
    &:hover {
        cursor: default;
    }
}

.task-view-parent {
    width: 50%;
    height: 100%;
    padding: 20px 30px;    
}

.list-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.task-data-wrapper {
    display: flex;
}

.task-data {
    padding: 15px;
    background: $darksoftblue;
    border-radius: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.task-count {
    color: $darkblue;
    font-weight: 600;
    font-size: 20px;
}

.count-label {
    font-size: 14px;
}

.completed > span{
    opacity: .4;
}
